# Deployment Variables
DOCKER_REGISTRY_USERNAME=
DEPLOY_HOST=
KAMAL_REGISTRY_PASSWORD=
IPFS_HOST=ipfs.1001.digital
IPFS_ADMIN_HOST=
ADMIN_PASSWORD_HASH=

# Gateway Configuration (optional)
# GATEWAY_NO_FETCH=true
# GATEWAY_DESERIALIZED_RESPONSES=true
# IPNS_RECORD_LIFETIME=336h
# STORAGE_MAX=10GB
# CONN_MGR_HIGH_WATER=96
# CONN_MGR_LOW_WATER=32
